.mm-code {
    font-family: "Courier New", Courier, monospace;
    padding: 8px;
    background-color: #f5f5f5;
    font-size: 11pt;
}

.mm-inline-code {
    font-family: "Courier New", Courier, monospace;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f5f5f5;
    font-size: 11pt;
}

.mm-image {
    width: 100%;
}

.mm-image-left {
    float: left;
    width: 40%;
    margin-right: 12px;
}

.mm-image-right {
    float: right;
    width: 40%;
    margin-left: 4px;
}

.mm-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.mm-h1 {
    font-size: 18pt
}

.mm-h2 {
    font-size: 16pt
}

.mm-h3 {
    font-size: 12pt
}

.mm-h4 {
    font-size: 10pt
}

.mm-h5 {
    font-size: 10pt
}

.mm-block-1 {
    margin-left: 16px;
}

.mm-block-2 {
    margin-left: 32px;
}

.mm-block-3 {
    margin-left: 78px;
}

.mm-block-4 {
    margin-left: 104px;
}

.mm-olist-item {
    list-style: none;
    margin-bottom: 8px;
    padding-left: 18px;
    text-indent: -18px;
}

.mm-ulist-item {
    list-style: none;
    margin-bottom: 8px;
    padding-left: 18px;
    text-indent: -12px;
    white-space: normal;
}

.mm-quotation {
    margin-top: 18px;
    margin-right: 36px;
    margin-bottom: 18px;
    white-space: normal;
}

.mm-poetry {
    margin-left: 24px;
    margin-top: 18px;
    margin-right: 36px;
    margin-bottom: 18px;
    white-space: nowrap;
}

.mm-poetry p {
    margin-top: 0px;
    margin-bottom: 0px;
    ] .mm-closed-block {
        margin-bottom;
        12px;
        width: inherit;
        white-space: normal;
    }
    .mm-closed-block .mm-inlinelist {
        margin-bottom: 12px;
        line-height: 18px;
        width: inherit;
    }
    .mm-poetry .mm-inlinelist .mm-inlinelist {
        margin-bottom: 4px;
        width: inherit;
    }
    .mm-error-message {
        color: red;
        margin-bottom: 12px;
    }
    .mm-code {
        font: 16px courier;
        background-color: #eee;
        padding: 8px;
    }
    .mm-strike-through {
        text-decoration: line-through;
    }
    .mm-table-row {
        display: block;
        margin-left: 40px;
        height: 25px;
    }
    p.mm-table-row {
        display: inline-block;
    }
    .mm-table-cell {
        display: inline-block;
        width: 80px;
    }
    p.mm-table-cell {
        display: inline-block;
    }
    .mm-verbatim {
        font: 16px courier;
        background-color: #eee;
        padding: 8px;
    }
}


/**
    Some style properties has been gratefully inspired by http://ebdjournal.com/
**/

.masthead {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2rem;
    color: #111;
}

body {
    font-family: "Freight Text W00";
    text-indent: 0;
    color: #454545;
    line-height: 1.6rem;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    font-family: Circular-Bold;
    font-size: 4.5rem;
    line-height: 8.5rem;
    font-weight: 400;
    color: #272727;
    text-decoration: none;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
}

#main-content {
    padding-top: 0.7rem;
}

#header {
    background-image: url(../images/pexels-chait-goli-cropped.jpg);
    background-size: cover;
    min-height: 200px;
}

#footer {
    padding-top: 1.5rem;
    border-top: 1px dotted black;
}

#page-title {
    padding-top: 1.3rem;
}


/**** Post styling ******/

.post {
    border-left: 3px dotted #7952B3;
    margin-bottom: 20px;
    margin-top: 2rem;
    padding-left: 0.5rem;
}

.post:not(:last-child) {
    margin-bottom: 2rem;
}

.post-title {
    margin-top: 2rem;
}

.post-date {
    padding-left: 1.2rem;
}

.post-body {
    padding-left: 1.2rem;
}